html,
body,
#canvas-wrap,
#canvas {
	height: 100%;
}

html,
body,
#canvas {
	width: 100%;
}

#canvas-wrap {
	margin-right: 150px;
	position: relative;
}

body {
	padding: 0;
	margin: 0;
}

#canvas {
	background: black;
	display: block;
}

#status {
	position: absolute;
	left: 10px;
	top: 10px;
}

#hints {
	position: absolute;
	right: 10px;
	top: 10px;
}

body > * {
	font-family: Verdana,sans-serif;
	font-size: 12px;
	color: white;
}

#splash {
	position: absolute;
	top: 100px;
	width: 100%;
	
	text-align: center;
	color: white;
	font-size: 16px;
}

#splash h1,
#progress {
	font-size: 30px;
	font-weight: bold;
}

body.error,
body.error #canvas {
	background: #800000;
}

a,
a:visited,
a:hover {
	color: white;
	text-decoration: underline;
}

#buttons {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 60px;
}

#buttons button {
	width: 40px;
	height: 40px;
	margin-left: 20px;
	
	border: 0;
	background: white;
	
	font-size: 20px;
	font-weight: bold;
}


#network {
	float: right;
	width: 150px;
	background: black;
	overflow: hidden;
	height: 100%;
}

#network > div {
	padding: 10px;
}

#network h3 {
	margin: 0 0 1em;
}

#contacts .active {
	font-weight: bold;
}

#network input[type=text] {
	width: 100%;
}

#button-box {
	display: block;
}